// Colors
$color-primary: #39b8ff;
$color-secondary: #ffcb39;
$color-white: #ffffff;
$color-black: #000000;
$color-success: #4ed520;

// Spacing
$spacer-zero: 0px;
$spacer-radius: 2px;
$spacer-primary: 6px;

// Typography
$text-header: 60px;
$text-primary: 30px;
$text-secondary: 24px;
